/* Japanese */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src:
    local("NotoSansJP Light"),
    local("NotoSansJP-Light"),
    url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2") format("woff2"),
    url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff") format("woff"),
    url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf") format("opentype");
  unicode-range: U+3040-30FF, U+31F0-33FF, U+4DF0-9FD5;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src:
    local("NotoSansJP"),
    local("NotoSansJP-Regular"),
    url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2") format("woff2"),
    url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff") format("woff"),
    url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf") format("opentype");
  unicode-range: U+3040-30FF, U+31F0-33FF, U+4DF0-9FD5;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src:
    local("NotoSansJP Medium"),
    local("NotoSansJP-Medium"),
    url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2") format("woff2"),
    url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff") format("woff"),
    url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf") format("opentype");
  unicode-range: U+3040-30FF, U+31F0-33FF, U+4DF0-9FD5;
  font-display: swap;
}

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "Malgun gothic", "돋움", AppleSDGothicNeo;
  font-size: 14px;
}

.main section article table,
.main section article table th,
.main section article table td {
  font-family: Roboto, Verdana, sans-serif;
}

.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default {
  max-width: 200px;
  min-width: 110px;
}

span.signature-attributes {
  color: #aaa;
  font-size: 80%;
  font-style: italic;
}
